.page-title {
    text-align: center;
    color: var(--primary);
}

.post-form {
    width: 100%;
    max-width: 40em;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-form > :where(input, div) {
    min-height: 32px;
    padding: 8px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    background-color: var(--text-primary);
}

.post-content{
    min-width: 150px;  
    resize: vertical;
    overflow: scroll;
}